In [1]:
import seaborn as sns
import numpy as np
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
# total_bill, tip, size의 평균과 표준편차구하기
df[ [ 'total_bill', 'tip', 'size'] ].agg(['mean', 'std'])
# tip의 최대값과 최소값
df['tip'].agg(['min', 'max'])

df['tip_rate'] = df['tip'] / df['total_bill'] * 100 # 팁이 지불금액에 몇 %인지

df.groupby('day')['tip'].mean() # 요일별 팁 평균

df.groupby('sex')['tip_rate'].mean() # 성별별 팁 비율 평균구하기

# tip_rate가 20%이상인 데이터 구하기
df[ df['tip_rate'] >=0.2 ] # df.query(("tip_rate >= 0.2")

# total_bill이 전체 평균보다 큰 데이터 구하기
df[ df['total_bill'] > df['total_bill'].mean() ]

# size가 4이상인 팁 평균 구하기
df[ df['size'] >= 4 ]['tip'].mean()

# time별 total_bill 평균, 합계 구하기
df.groupby('time')['total_bill'].agg(['mean', 'sum'])

# 성별과 시간대별 tip_rate 평균 구하기
df.groupby(['sex', 'time'])['tip_rate'].mean()

C:\Users\M\AppData\Local\Temp\ipykernel_15940\3216305462.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['tip'].mean() # 요일별 팁 평균
C:\Users\M\AppData\Local\Temp\ipykernel_15940\3216305462.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip_rate'].mean() # 성별별 팁 비율 평균구하기
C:\Users\M\AppData\Local\Temp\ipykernel_15940\3216305462.py:22: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['total_bill'].agg(['mean', 'sum'])
C:\Users\M\AppData\Local\Temp\ipykernel_15940\3216305462.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex', 'time'])['tip_rate'].mean()

sex     time
Male    Lunch     16.608263
        Dinner    15.540653
Female  Lunch     16.228493
        Dinner    16.932157
Name: tip_rate, dtype: float64

In [3]:
# 알바를 하려고 하는데 언제 알바하는게 팁을 가장 많이 받을까?
df.groupby('time')['tip_rate'].agg(['mean', 'count'])
df.groupby(['time', 'day', 'sex', 'smoker', 'size']).agg(mean=("tip_rate", "mean"), n = ("tip_rate", "count"))\
  .query("n >= 10") \
  .sort_values('mean', ascending=False)

C:\Users\M\AppData\Local\Temp\ipykernel_15940\3217991024.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('time')['tip_rate'].agg(['mean', 'count'])
C:\Users\M\AppData\Local\Temp\ipykernel_15940\3217991024.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['time', 'day', 'sex', 'smoker', 'size']).agg(mean=("tip_rate", "mean"), n = ("tip_rate", "count"))\

                                     mean   n
time   day  sex    smoker size
Dinner Sun  Male   Yes    2     19.067194  10
Lunch  Thur Male   No     2     17.217588  16
Dinner Sat  Male   No     2     16.985089  17
       Sun  Male   No     2     16.574184  22
Lunch  Thur Female No     2     16.052071  18
Dinner Sat  Female Yes    2     15.834737  11
       Sun  Male   No     4     14.852449  12
       Sat  Male   Yes    2     14.240425  17